

body{
    font-family: 'Ubuntu', sans-serif;
    background: #bdc3c7;  /* fallback for old browsers */
    background-color:#FEDBB7;
    
      
    
    }

   .hrline{
     border-top: 3px solid #D64933;

   }

   .hope{
     margin:25px
   } 

  .container a{
    margin:10px;
    height:100%;

  }
  .container a:hover{
    margin:10px;
    height:100%;
    background-color: #D64933;
    color:white

  }

  .assign {
    color:#D64933;
    padding: 5px;
    margin-left:5px;
    
  }

  .linkAlpha{
    color:#D64933;
    border-radius:8px;
    padding:5px;
    text-decoration: none;
    border: 3px solid white;
  }

    .nav-link{
      list-style-type: none;
      text-align: center;
      
    }

     .link-nav{
      width:100%;
      padding: 3px;
      border-radius: 4px;
      text-decoration:none;
      border: 1px solid white;
      color: white;
    }

    .link-nav:hover{
      background-color:white;
      color:blue;
    } 

   li{width:100%;
  }
  
    
    
    header{
      background-color: #D64933;
      color: white;
      padding: 10px;
      text-align:center;
      padding: 10px;
      border-radius:10px;
     
      right: 0;
      top: 0;
      left: 0;
      margin:20px;
      
      
      
    }
    
    header img {
      width:300px;
      height:300px;
      float: right;
      border-radius:10px;
      margin:20px;
      position:absolute;
      right:30px;
      top:30px;
    
    }
    
    
    
    
    
    .black{
      border: 0.5px solid black;
      width:100%;
     
      
      
    }
    
    main{
    
    margin:20px;
    }

    
    
    .link{
      color:white;
    }
    
    
    
    footer{
      background-color: #D64933;
      color: white;
      padding: 10px;
      text-align:center;
      border-radius:10px;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin:20px;
      
      
        
    }

    .textF{
      margin:5px;
    }

    .edit{
        
        color:yellow;
    }
    
    @media all and (min-width: 600px) and (max-width: 892px){
      header img{ width: 200px;; height:200px; right:20px;
      top:20px;}
      
      
      
    }
    
    @media all and (min-width: 480px) and (max-width: 599px){
      header img{ width: 150px; height:150px; right:10px; top:10px;}
      
      
    }